*, *::before, *::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  background-color: #171919;
  font-family: 'Fira Sans', 'Arial', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  font-weight: normal;
  color: $text;
  text-transform: uppercase;
  overflow-x: hidden;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  color: $text;
  text-decoration: none;
}
input,
button,
textarea,
select {
  font: inherit;
}
ul[class],
ol[class] {
  margin: 0;
  padding: 0;
}
ul[class] {
  list-style: none;
}
.sr-only:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.btn {
  position: relative;
  display: inline-block;
  padding-left: 0.5em;
  border: none;
  font: inherit;
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 800;
  text-align: center;
  cursor: pointer;
  span {
    position: relative;
    display: inline-block;
    margin-left: 0.5em;
    padding: 0.5em;
    padding-right: 1.425em;
    background-color: $accent;
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: -0.25em;
      width: 0.5em;
      height: 1px;
      background-color: #fff;
    }
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0.5em;
      width: 24px;
      height: 20px;
      background: url(../img/arrow-right.svg) no-repeat center;
      transform: translateY(-50%);
    }
  }
}
.title {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: 15rem;
  font-size: 5rem;
  font-weight: 800;
  &::after {
    content: '';
    position: absolute;
    top: 0.2rem;
    right: 0;
    width: 5rem;
    height: 1px;
    background-color: $accent;
  }
  span {
    position: absolute;
    z-index: -1;
    top: 1rem;
    right: 0;
    font-size: rem(200);
    font-weight: 800;
    line-height: 1;
    opacity: 0.02;
    user-select: none;
  }
}
.subtitle-left {
  margin-left: 8.25em;
}
.subtitle-right {
  margin-right: 5em;
  text-align: right;
}
.headline-left,
.headline-right {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-bottom: 0.35em;
  font-size: rem(22);
  line-height: 1.45;
  color: #ffffff;
  letter-spacing: 7px;
  opacity: 0.5;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 5rem;
    height: 1px;
    transform: translateY(-50%);
    background-color: #ffffff;
  }
}
.headline-left {
  padding-right: calc(5rem + 1em);
  &::before {
    right: 0;
  }
}
.headline-right {
  padding-left: calc(5rem + 1em);
  text-align: right;
  &::before {
    left: 0;
  }
}
.subhead {
  margin: 0;
  font-size: rem(40);
  font-weight: 800;
  span {
    font-weight: 300;
  }
}