@import 'vars';
@import 'fonts';
@import 'libs';
@import 'mixins';
@import 'main.scss';
.header {
  position: relative;
  height: 100vh;
}
.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-width: 168px;
  height: 100vh;
  border-right: 1px solid rgba(#ffffff, 0.25);
  color: #ffffff;
  text-align: center;
  text-transform: initial;
  animation: header-nav 1000ms ease-out 250ms;
}
@keyframes header-nav {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.header__logo {
  display: block;
  margin-bottom: 5em;
}
.header__logo-image {
  width: 168px;
  height: 280px;
}
.site-list,
.user-list {
  display: flex;
  flex-flow: column;
}
.site-list__item,
.user-list__item {
  width: 100%;
}
.site-list__item a,
.user-list__item a {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
  font-size: rem(12);
  letter-spacing: 3px;
  transition: color 350ms;
}
.site-list__item a:hover,
.site-list__item a:focus {
  color: $accent;
}
.site-list__item img {
  margin-bottom: em(6);
  transition: transform 1250ms;
}
.user-list__item img {
  transition: transform 750ms;
}
.site-list__item a:hover img,
.site-list__item a:focus img {
  transform: rotateY(1turn);
}
.user-list__item a:hover img,
.user-list__item a:focus img {
  transform: rotate(-1turn);
}
.header__date {
  font-weight: 300;
  letter-spacing: 1.4px;
}
.header__date-day {
  display: block;
  font-size: rem(72);
  font-weight: 800;
}
.header__meta {
  margin-bottom: 2.75em;
}
.header__location {
  position: relative;
  padding-left: 19px;
  font-size: rem(12);
  font-weight: 300;
  letter-spacing: 1px;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 11px;
    height: 14px;
    background-image: url(../img/marker.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}
.header__drop-arrow {
  position: absolute;
  left: 210px;
  bottom: 35px;
  z-index: 50;
}
.header__drop-arrow-link {
  display: block;
  padding: 0.5em;
  animation: drop-arrow 2000ms infinite both 250ms;
}
@keyframes drop-arrow {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.header__map {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 45;
}
#dest-name-1,
#dest-marker-1,
#dest-name-2,
#dest-marker-2,
#dest-name-3,
#dest-marker-3,
#dest-name-4,
#dest-marker-4 {
  animation: header-map 1000ms 1000ms ease-out both;
}
#dest-name-1,
#dest-marker-1 {
  animation-delay: 1000ms;
}
#dest-name-2,
#dest-marker-2 {
  animation-delay: 2000ms;
}
#dest-name-3,
#dest-marker-3 {
  animation-delay: 3000ms;
}
#dest-name-4,
#dest-marker-4 {
  animation-delay: 4000ms;
}
@keyframes header-map {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}
.slick-active #dest-path-1,
.slick-active #dest-path-2,
.slick-active #dest-path-3,
.slick-active #dest-path-4 {
  stroke-dashoffset: 100%;stroke-dasharray: 100%;
  opacity: 1;
  animation: dash-animate 5000ms infinite 1500ms;
}
@keyframes dash-animate {
  100% {
    stroke-dashoffset: 0;
  }
}
.slider-item {
  position: relative;
  height: 100vh;
  background-image: url(../img/header-slider.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 115px;
  text-align: right;
}
.slider-item__title {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: rem(80);
  font-weight: 800;
}
.slider-item__text {
  margin: 0;
  margin-bottom: 0.5em;
}
.slider-item__link {
  display: inline-block;
}
.arrow {
  position: absolute;
  top: 40px;
  width: 24px;
  height: 20px;
  z-index: 50;
  border: none;
  cursor: pointer;
  outline: none;
  &--prev {
    right: 125px;
    background: url(../img/arrow-left.svg) no-repeat center;
  }
  &--next {
    right: 80px;
    background: url(../img/arrow-right.svg) no-repeat center;
  }
}
.slider-nav {
  position: absolute;
  right: 50px;
  bottom: 35px;
  max-width: 920px;
  width: 100%;
}
.slider-nav__box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 200px;
  min-height: 35px;
  padding-top: 0.25em;
  border-top: 4px solid #ffffff;
}
.slick-current .slider-nav__box {
  border-top-color: $accent;
}
.slider-nav__num {
  font-size: rem(24);
  line-height: 1.4;
  font-weight: 800;
}
.slider-nav__name {
  font-weight: 300;
  text-transform: capitalize;
}
.surf {
  padding-top: 10em;
  padding-bottom: 7.5em;
  background-image: url(../img/surf-bg.png);
  background-position: 100% 14em;
  background-repeat: no-repeat;
}
.surf__subtitle {
  margin-top: 3.75em;
}
.slider-map {
  position: relative;
  max-width: 1200px;
  width: 100%;
  min-height: 635px;
  margin: 0 auto;
  background-image: url(../img/world-map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .slick-list {
    min-height: inherit;
  }
}
.slider-map .slick-list {
  overflow: visible;
}
.slider-map .slick-slide {
  outline: none;
}
.slider-map__item {
  position: absolute;
  &--1 {
    top: 330px;
    left: 0;
  }
  &--2 {
    top: 290px;
    left: 135px;
  }
  &--3 {
    top: 318px;
    left: 338px;
  }
  &--4 {
    top: 500px;
    left: 415px;
  }
  &--5 {
    top: 215px;
    left: 530px;
  }
  &--6 {
    top: 555px;
    left: 637px;
  }
  &--7 {
    top: 395px;
    left: 800px;
  }
  &--8 {
    top: 491px;
    left: 1085px;
  }
}
.slider-map__content {
  position: absolute;
  left: -50%;
  bottom: 25px;
  z-index: 50;
  display: none;
  width: 285px;
  padding: 1.75em 2em;
  background-color: rgba(#0f1010, 0.7);
  border-radius: 0.5em;
}
.slick-current .slider-map__content {
  display: block;
}
.slider-map__circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: $accent;
}
.slick-current .slider-map__circle {
  &::before {
    content: '';
    position: absolute;
    bottom: -8px;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-bottom: 20px solid $accent;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}
.slider-map__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.9em;
}
.slider-map__title {
  position: relative;
  margin: 0;
  margin-bottom: 0.75em;
  font-size: rem(18);
  line-height: 1.45;
  font-weight: 800;
  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -0.3125rem;
    width: 5rem;
    height: 1px;
    background-color: $accent;
  }
}
.slider-map__country {
  text-transform: capitalize;
}
.slider-map__link {
  display: inline-block;
}
.slider-map__condition {
  display: flex;
  justify-content: space-between;
}
.slider-map__condition-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 33%;
  text-align: center;
}
.slider-map__condition-image {
  margin-bottom: 0.5em;
}
.slider-map__condition-num {
  line-height: 1.44;
  font-weight: 800;
}
.slider-map__condition-name {
  font-size: rem(10);
  font-weight: 300;
}
.slider-map__coordinate {
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(-90deg);
  font-size: rem(18);
  letter-spacing: 8px;
}
.surf-slider {
  padding-top: em(110);
}
.surf-slider .arrow {
  top: em(52);
  opacity: 0.25;
}
.surf-slider__box {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  padding: 72px 20px 0 40px;
  min-height: 750px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(#1c2121, 0.85);
  background-blend-mode: overlay;
}
.slick-slide:nth-child(4n+1) .surf-slider__box {
  margin-top: 2em;
}
.slick-slide:nth-child(4n+3) .surf-slider__box {
  margin-top: 5.5em;
}
.slick-current .surf-slider__box {
  background-color: rgba(#1c2121, 0.25);
}
.surf-slider__title {
  margin: 0;
  margin-bottom: auto;
  max-width: 50%;
  font-size: rem(40);
  line-height: 1;
  font-weight: 800;
}
.surf-slider__location {
  margin: 0;
  font-size: rem(18);
  letter-spacing: 8px;
  white-space: nowrap;
  transform: rotateZ(-90deg);
  transform-origin: 0 0;
}
.surf-slider__link {
  display: none;
}
.slick-current .surf-slider__link {
  display: block;
}
.travel {
  padding-top: 10em;
  padding-bottom: 7.5em;
  background-image: url(../img/travel-cocktail.png);
  background-repeat: no-repeat;
  background-position: 100% calc(100% + 10em);
}
.travel-slider {
  margin-top: 4.75em;
}
.travel-slider .arrow {
  top: 12.5em;
  opacity: 0.25;
}
.travel-slider__header {
  padding-top: 5.75em;
  min-height: 780px;
  background-repeat: no-repeat;
  background-position: top left;
}
.travel-slider__desc {
  margin-top: -17em;
  padding-top: 10em;
  min-height: 350px;
  background-repeat: no-repeat;
  background-position: right center;
}
.travel-slider__desc .subtitle-left {
  max-width: 650px;
}
.travel-slider__desc img {
  display: inline-block;
  margin-left: 26px;
}
.travel-stats {
  display: flex;
  justify-content: space-around;
}
.travel-stats__item {
  width: 275px;
  min-height: 195px;
  margin-bottom: 4.125em;
}
.travel-stats__type {
  margin: 0;
  font-size: rem(18);
  font-weight: 400;
  text-align: right;
  letter-spacing: 8px;
  white-space: nowrap;
  opacity: 0.5;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: 0;
}
.travel-stats__num {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: 2.5rem;
  font-size: rem(40);
  font-weight: 800;
  line-height: 1;
  letter-spacing: 3px;
}
.travel-stats__num-chevron {
  position: absolute;
  right: 0;
  bottom: -1em;
  font-size: rem(14);
  font-weight: 400;
  letter-spacing: 5px;
  opacity: 0.75;
}
.travel-slider__btn-group {
  text-align: center;
}
.sleep {
  padding-top: 11em;
  padding-bottom: 7.5em;
  background-image: url(../img/sleep-flower.png);
  background-repeat: no-repeat;
  background-position: 100% 95%;
}
.sleep-slider {
  margin-top: 4.75em;
}
.sleep-slider .arrow {
  top: 12.5em;
  opacity: 0.25;
}
.sleep-slider__header {
  padding-top: 5.25em;
  min-height: 780px;
  background-repeat: no-repeat;
  background-position: top left;
}
.sleep-slider__desc {
  margin-top: -17em;
  padding-top: 10em;
  min-height: 350px;
  background-repeat: no-repeat;
  background-position: right top;
}
.sleep-slider__desc .subtitle-left {
  max-width: 650px;
}
.sleep-slider__desc .subhead {
  display: flex;
  align-items: center;
}
.sleep-slider__desc ul {
  display: flex;
  align-items: center;
  @include reset-list();
  margin-left: 26px;
}
.sleep-slider__desc li:not(:first-child) {
  margin-left: 0.75rem;
}
.sleep-stats {
  display: flex;
  justify-content: space-around;
}
.sleep-stats__item {
  width: 275px;
  min-height: 195px;
  margin-bottom: 4.125em;
}
.sleep-stats__type {
  margin: 0;
  font-size: rem(18);
  font-weight: 400;
  text-align: right;
  letter-spacing: 8px;
  white-space: nowrap;
  opacity: 0.5;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: 0;
}
.sleep-stats__num {
  position: relative;
  display: inline-block;
  margin: 0;
  margin-left: 2.5rem;
  font-size: rem(40);
  font-weight: 800;
  line-height: 1;
  letter-spacing: 3px;
}
.sleep-stats__num-chevron {
  position: absolute;
  right: 0;
  bottom: -1em;
  font-size: rem(14);
  font-weight: 400;
  letter-spacing: 5px;
  opacity: 0.75;
}
.sleep-slider__btn-group {
  text-align: center;
}
.shop {
  padding-top: 10em;
  padding-bottom: 7.5em;
  background-image: url(../img/shop-slide.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}
.shop-slider {
  margin-top: 4.75em;
}
.shop-slider__wrapper {
  display: flex;
  justify-content: space-between;
  margin-left: 8.25em;
  margin-right: 5em;
}
.shop-slider__stats {
  width: 35%;
  padding-top: 9em;
}
.shop-slider__stats .subtitle-left {
  margin: 0;
}
.shop-slider__desc {
  margin-bottom: 3em;
}
.shop-slider__price {
  margin-bottom: 2em;
  font-size: 2rem;
  font-weight: 800;
}
.shop-slider__price ul {
  display: flex;
  align-items: center;
  @include reset-list();
  margin-bottom: 0.5rem;
}
.shop-slider__price li:not(:first-child) {
  margin-left: 0.75rem;
}
.shop-slider__sidebar {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 60%;
}
.extras-shop {
  align-self: flex-end;
  margin-left: 9.25em;
}
.extras-shop__title {
  margin: 0;
  margin-bottom: 1em;
  font-size: rem(28);
}
.extras-shop__cards {
  display: grid;
  grid-gap: 1.5em;
  grid-column-gap: 3.5em;
  grid-template-columns: 1fr 1fr;
}
.extras-shop__card {
  display: grid;
  grid-template-rows: 1fr auto auto;
  justify-items: center;
  align-items: center;
  row-gap: 1em;
  text-align: center;
}
.extras-shop__image {
  margin-bottom: 1.25em;
}
.extras-shop__name {
  font-size: rem(18);
  letter-spacing: 8px;
  opacity: 0.5;
}
.extras-shop__name:hover,
.extras-shop__name:focus {
  opacity: 1;
}
.extras-shop__price {
  font-size: rem(18);
  font-weight: 800;
}