@import 'vars';
@import 'fonts';
@import 'libs';
@import 'mixins';
@import 'main.scss';
.header {
  position: relative;
  height: 100vh;
}
.slider-item {
  position: relative;
  height: 100vh;
  background-image: url(../img/header-slider.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.slider-item__info {
  position: absolute;
  right: 80px;
  bottom: 115px;
  text-align: right;
  text-transform: uppercase;
}
.slider-item__title {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: rem(80);
  font-weight: 800;
}
.slider-item__suptitle,
.slider-item__desc {
  margin: 0;
  margin-bottom: 0.3em;
}
.suptitle-left {
  position: relative;
  display: inline-block;
  padding-left: calc(80px + 1em);
  font-size: rem(22);
  line-height: 1.45;
  color: #ffffff;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 7px;
  opacity: 0.5;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 80px;
    height: 1px;
    transform: translateY(-50%);
    background-color: #ffffff;
  }
}
.slider-item__text {
  margin: 0;
  margin-bottom: 0.5em;
  font-size: rem(40);
  font-weight: 800;
}
.slider-item__link {
  display: inline-block;
}
.arrow {
  position: absolute;
  top: 40px;
  width: 24px;
  height: 20px;
  z-index: 50;
  border: none;
  cursor: pointer;
  outline: none;
  &--prev {
    right: 125px;
    background: url(../img/arrow-left.svg) no-repeat center;
  }
  &--next {
    right: 80px;
    background: url(../img/arrow-right.svg) no-repeat center;
  }
}
.slider-nav {
  position: absolute;
  right: 50px;
  bottom: 35px;
  max-width: 920px;
  width: 100%;
}
.slider-nav__box {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 200px;
  min-height: 35px;
  padding-top: 0.25em;
  border-top: 4px solid #ffffff;
}
.slick-current .slider-nav__box {
  border-top-color: $accent;
}
.slider-nav__num {
  font-size: rem(24);
  line-height: 1.4;
  font-weight: 800;
}
.slider-nav__name {
  font-weight: 300;
}
.header__aside {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 50;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  min-width: 168px;
  height: 100vh;
  border-right: 1px solid rgba(#ffffff, 0.25);
  color: #ffffff;
  text-align: center;
  animation: header-nav 1000ms ease-out 250ms;
}
@keyframes header-nav {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.header__logo {
  display: block;
  margin-bottom: 5em;
}
.header__logo-image {
  width: 168px;
  height: 280px;
}
.site-list,
.user-list {
  display: flex;
  flex-flow: column;
}
.site-list__item,
.user-list__item {
  width: 100%;
}
.site-list__item a,
.user-list__item a {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
  font-size: rem(12);
  letter-spacing: 3px;
  transition: color 350ms;
}
.site-list__item a:hover,
.site-list__item a:focus {
  color: $accent;
}
.site-list__item img {
  margin-bottom: em(6);
  transition: transform 1250ms;
}
.user-list__item img {
  transition: transform 750ms;
}
.site-list__item a:hover img,
.site-list__item a:focus img {
  transform: rotateY(1turn);
}
.user-list__item a:hover img,
.user-list__item a:focus img {
  transform: rotate(-1turn);
}
.header__date {
  font-weight: 300;
  letter-spacing: 1.4px;
}
.header__date-day {
  display: block;
  font-size: rem(72);
  font-weight: 800;
}
.header__meta {
  margin-bottom: 2.75em;
}
.header__location {
  position: relative;
  padding-left: 19px;
  font-size: rem(12);
  font-weight: 300;
  letter-spacing: 1px;
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 11px;
    height: 14px;
    background-image: url(../img/marker.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
}